<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro to ESG</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <nav class="navbar has-shadow is-white">
        <div class="navbar-menu" id = "nav-links">
            <div class="navbar-end">
                <a class="navbar-item">ESG</a>
                <a class="navbar-item">My Shop</a>
            </div>
        </div>
    </nav>

    <section class="hero has-background-info">
        <div class="slider"></div>
        <div class="hero-body is-centered">
            <div class="container has-text-centered">
          <p class="title is-3 has-text-white py-5 my-6">
            What is ESG?
          </p>
        </div>
        </div>
      </section>

     <section class="section">
         <div class="container">
             <div class="columns is-8 is-variable">
                 <div class="column is-7-tablet">
                   <div class="tabs is-boxed">
                       <ul>
                           <li class = "is-active" data-target = "0to25">
                               <a>0 to 25</a>
                           </li>
                           <li data-target = ">25to50">
                            <a>>25 to 50</a>
                        </li>
                        <li data-target = ">50to75">
                            <a>>50 to 75</a>
                        </li>
                        <li data-target = ">75to100">
                            <a>>75 to 100</a>
                        </li>
                       </ul>
                   </div>
                   <div class = "px-2" id = "tab-content">
                       <div id = "0to25">
                           <h3 class = "is-size-5 title">First Quartile</h3>
                           <p>Scores within this range indicates poor relative ESG performance and insufficient degree of transparency in reporting material ESG data publicly.</p>
                       </div>
                       <div id = ">25to50" class = "is-hidden">
                        <h3 class = "is-size-5 title">Second Quartile</h3>
                        <p>Scores within this range indicates satisfactory relative ESG performance and moderate degree of transparency in reporting material ESG data publicly.</p>
                    </div>
                    <div id = ">50to75" class = "is-hidden">
                        <h3 class = "is-size-5 title">Third Quartile</h3>
                        <p>Scores within this range indicates good relative ESG performance and above average degree of transparency in reporting material ESG data publicly.</p>
                    </div>
                    <div id = ">75to100" class = "is-hidden">
                        <h3 class = "is-size-5 title" class = "is-hidden">Fourth Quartile</h3>
                        <p>Score within this range indicates excellent relative ESG performance and high degree of transparency in reporting material ESG data publicly.</p>
                    </div>
                   </div>
                 </div>
                 <div class="column">
                  
                 </div>
             </div>
         </div>
     </section>

     <script src="{{url_for('static', filename='main.js')}}"></script>
    
</body>
</html>